.create-customer-form {
  max-width: 800px;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.payment-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-group {
  flex: 1;
  min-width: 180px;
  max-width: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.remove-payment-btn {
  flex-basis: 100%;
  margin-top: 10px;
  text-align: right;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.error {
  color: red;
  font-size: 0.8em;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
  /* Adjust font size */
}

.add-phone-btn,
.remove-phone-btn {
  background-color: #4CAF50;
  /* Green for add button */
  color: white;
  padding: 4px 8px;
  /* Smaller padding */
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  /* Smaller font size */
  margin-top: 5px;
  /* Reduced size */
}

.remove-phone-btn {
  background-color: #f44336;
  /* Red for remove button */
  padding: 4px 8px;
  /* Smaller padding */
  font-size: 0.8em;
  /* Smaller font size */
  /* Reduced size */
}

button[type="button"] {
  background-color: #f44336;
}

.form-group input[type="file"] {
  margin-top: 8px;
  margin-bottom: 16px;
}

.payments-container {
  margin-bottom: 20px;
}